<div class="login-page">
  <p>login start</p>

  {{loading |json}}<br>
  {{model.username}}<br>
  {{model.password}}<br>

  <div class="mat-app-background">
    <mat-card class="login-card">
      <!--img mat-card-lg-image src="../../assets/cockpit.jpg" alt="Cockpit"-->
      <mat-form-field>
        <input matInput placeholder="Username" [ngModel]="model.username" (ngModelChange)="model.username = $event">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" [ngModel]="model.password" (ngModelChange)="model.password = $event">
      </mat-form-field>
      <mat-card-actions>
        <button mat-button (click)="login()">
          login
          <mat-icon svgIcon="login"></mat-icon>
        </button>
        <button mat-button (click)="register()">
          register
          <mat-icon svgIcon="account-plus"></mat-icon>
        </button>

      </mat-card-actions>
    </mat-card>
  </div>
  <p>login stop</p>
 <mat-spinner></mat-spinner>
</div>
