/*::ng-deep .prevo-body {
  margin: auto;
}

::ng-deep .mat-app-background {
  background-color: transparent;
}

::ng-deep body {
  background-image: url('./../../assets/cockpitSmall.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: auto 100%;
  background-blend-mode: lighten;

  height: 100%;
  display: flex;
}

::ng-deep html {
  height: 100%;
}*/
