<div class="input-group">
  <div class="input-group-btn">

    <div ngbDropdown #settingsMenu="ngbDropdown" class="d-inline-block">
      <div ngbDropdownMenu class="dropdown-menu-right">
        <button class="dropdown-item">Action - 1</button>
        <!--app-language-changer></app-language-changer-->
        <button class="dropdown-item">Something else is here</button>
      </div>
      <button class="btn btn-light mdi mdi-settings" (click)="$event.stopPropagation(); settingsMenu.toggle();"></button>
    </div>
  </div>


  <!--div class="d-inline-block" ngbDropdown #settingsMenu="ngbDropdown" placement="bottom-left">
  <div ngbDropdownMenu>
    <button class="dropdown-item">Action - 1</button>
    <button class="dropdown-item">Another Action</button>
    <button class="dropdown-item">Something else is here</button>
  </div>

  <button class="btn btn-light mdi mdi-settings" (click)="$event.stopPropagation(); settingsMenu.toggle();"></button>
</div-->



  <!--div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-secondary mdi mdi-settings" ngbDropdownToggle></button>
        <div ngbDropdownMenu>
          <button class="dropdown-item">Action - 1</button>
          <button class="dropdow      n-item">Another Action</button>
          <button class="dropdown-item">Something else is here</button>
        </div>
      </div>
    </div>
  </div-->
