

<!--mat-toolbar color=primary-->

  <span>{{app.info.title}}</span>

  <!--button mat-button routerLink="/fav" routerLinkActive="active">Favorites</button>
  <button mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
  <button mat-button routerLink="/todo" routerLinkActive="active">Todo</button-->

  <span class="fill-remaining-space"></span>

  <div>
    <input id="typeahead-basic" type="text" class="form-control" [ngbTypeahead]="search"/>
  </div>

  <!--button mat-button routerLink="/search" routerLinkActive="active">Search</button>

  <button mat-button routerLink="/profile" routerLinkActive="active">User</button-->

  <app-language-selection></app-language-selection>


<!--/mat-toolbar-->
