/*::ng-deep .prevo-body {
  margin: 0;
}

::ng-deep .mat-app-background {
  background: none;
}

::ng-deep body {
  background-image: none;
  display: inline;
}
*/
.spacer {
  flex: 1 1 auto;
}

/*
.mat-form-field {
  width: 100%;
}*/
