<div class="mat-app-background">

  <div class="dashboard">

    <mat-toolbar style="padding:10px;">
      <mat-toolbar-row>
        <span>{{title}}</span>


        

        <!-- This fills the remaining space of the current row -->
        <span class="spacer"></span>

        <button mat-button (click)="profile()" matTooltip="Favoriten">

            <mat-icon svgIcon="star"></mat-icon>
        </button>


        <button mat-button (click)="profile()" matTooltip="2do">
          
            <mat-icon svgIcon="format-list-numbers"></mat-icon>
            
        </button>

        <span class="spacer"></span>
        <span class="spacer"></span>

        <div class="img" matTooltip="Search">
          <button mat-button (click)="search()">
            <mat-icon svgIcon="magnify"></mat-icon>
          </button>
        </div>

        <form class="search-form" [@animateState]="stateExpression">

          <mat-form-field [@animateState]="stateExpression">
            <input class="search" type="text" placeholder="Search" aria-label="Number" matInput [formControl]="stateCtrl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                <!--img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" /-->
                <span>{{ state.name }}</span> |
                <small>{{state.flag}}</small>|
                <small>{{state.population}}</small>
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>

        </form>
        <button mat-button (click)="search()" [@animateVisible]="searchVisible">
          <mat-icon svgIcon="close"></mat-icon>
        </button>

        <button mat-button (click)="profile()" matTooltip="Profile">
            <mat-icon svgIcon="settings"></mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

      <router-outlet></router-outlet>

   

    <!--mat-grid-list cols="1">
      <mat-grid-tile>




      </mat-grid-tile>
    </mat-grid-list-->




  </div>
</div>
