<mat-card>
  Meine Einstellungen
</mat-card>

<mat-grid-list cols="1" rowHeight="20:1">
  <mat-grid-tile>
    <prevo-language-changer class="profile-item"></prevo-language-changer>
  </mat-grid-tile>
  <mat-grid-tile>
      <prevo-theme-changer class="profile-item"></prevo-theme-changer>
  </mat-grid-tile>

  <mat-grid-tile>
      <mat-chip-list>
          <mat-chip color="primary" selected="true">primary</mat-chip>
          <mat-chip color="accent"  selected="true">accent</mat-chip>
          <mat-chip color="warn"  selected="true">warn</mat-chip>
        </mat-chip-list>
  </mat-grid-tile>
</mat-grid-list>
