<div ngbDropdown class="d-inline-block">
  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{lang}}</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button class="dropdown-item" (click)="langSelected('en')">english</button>
    <button class="dropdown-item" (click)="langSelected('fr')">français</button>
    <button class="dropdown-item" (click)="langSelected('de')">deutsch</button>
    <button class="dropdown-item" (click)="langSelected('it')">italiano</button>
    <button class="dropdown-item" (click)="langSelected('tech')">technical</button>
  </div>
</div>
