/*.main-container {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background-image: url('./../../assets/cockpit.jpg');
  background-position: center top;
  background-size: 100% auto;
}*/
