
@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-green, 200);
$accent:  mat-palette($mat-lime, 500);
$warn:    mat-palette($mat-pink, 200);

$theme-light: mat-light-theme($primary, $accent, $warn);
$theme-dark:  mat-dark-theme($primary, $accent, $warn);
$theme: $theme-dark;

@include angular-material-theme($theme);
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

$fg: mat-color($foreground, text);
$bg: mat-color($background, card);

/*
mat-form-field {

  //outline: mat-color($warn);
  color: red;
  //background-color: $bg;
}*/
/*
label.mat-input-placeholder {
  color: mat-color($warn);
}*/

/*
mat-card.login-card {

   color: mat-color($warn);
//background-color: $bg;
}*/


.todo-item:hover {
  /*flex: 1 1 auto;
  padding: 5px;*/
  background-color: mat-color($primary);
}
