@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}


mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.fill-remaining-space {
  flex: auto;
}

mat-form-field {
  font-family: Roboto, sans-serif;
}

mat-select {
  font-family: Roboto, sans-serif;
}

mat-option {
  font-family: Roboto, sans-serif;
}

.btn-outline-primary{
  font-family: Roboto, sans-serif;
  border-color: white;
  color: white;
  font-size: 14px;
}

.dropdown-item{
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
