@import '~@angular/material/theming';
@include mat-core();

$alt-primary: mat-palette($mat-yellow);
$alt-accent:  mat-palette($mat-grey, 200);
$alt-warn:  mat-palette($mat-red);
$alt-theme: mat-dark-theme($alt-primary, $alt-accent, $alt-warn);

.anotherTheme {
    @include angular-material-theme($alt-theme);
}
